@model DSS_Assignment_Ebube.Models.Player_League

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player_League</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Players.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leagues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leagues.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
