@model DSS_Assignment_Ebube.Models.Player_League

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Player_League</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label">Player</label>
                <select asp-for="PlayerId" class="form-control" asp-items="ViewBag.PID"></select>
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeagueId" class="control-label">League</label>
                <select asp-for="LeagueId" class="form-control" asp-items="ViewBag.ID"></select>
                <span asp-validation-for="LeagueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
